<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">HR</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle8iDialect</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="jose.aos.entitis.Employees"/>
        <mapping class="jose.aos.entitis.EmpDetailsView"/>
        <mapping class="jose.aos.entitis.Locations"/>
        <mapping class="jose.aos.entitis.Jobs"/>
        <mapping class="jose.aos.entitis.RegistroSec"/>
        <mapping class="jose.aos.entitis.JobHistory"/>
        <mapping class="jose.aos.entitis.Countries"/>
        <mapping class="jose.aos.entitis.Departments"/>
        <mapping class="jose.aos.entitis.RegistroTabla"/>
        <mapping class="jose.aos.entitis.Reguistro"/>
        <mapping class="jose.aos.entitis.Regions"/>
    </session-factory>
</hibernate-configuration>
